.workingHistoryDate{
    width: 130px;
    margin-block-start: 1.33em;
}

.deleteResume{
    /* position: absolute;
    right: 20px;
    top: 30px; */
    cursor: pointer;
    color: red;
}
.resumeBottom{
    width: 100%;
}
.resumeTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 212px);
    overflow-y: auto;
}