.mainPageContainer{
	display: flex;
	flex-direction: column;
}
.topHeader{
	display: flex;
	align-items: center;
	gap: 20px;
}
.switchPageLink{
	display: flex;
	align-items: center;
	gap: 10px;
}
.switchPageLink button{
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	cursor: pointer;
}
.topHeaderIn{
	display: flex;
	gap: 20px;
	padding: 20px;
	font-size: 14px;
	font-weight: 500;
}
.topHeaderIn span{
	color: #1E5128;
	text-decoration: underline;
	text-decoration-style: dashed;
	text-decoration-color: #1E5128;
	font-weight: 500;
}
.pageInactive{
	color: #1E5128 !important;
	transition: .3s;
}
.pageInactive:hover{
	color: #fe725f !important;
}
