.card{
    border-radius: 4px;
    padding: 20px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(34,60,80,.2);
    -moz-box-shadow: 0px 3px 8px 0px rgba(34,60,80,.2);
    box-shadow: 0px 3px 8px 0px rgba(34,60,80,.2);
    position: relative;
}