.search {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    animation: fadeIn 0.5s forwards;
    position: relative;
    z-index: 9999;
}

.p7 .search {
    margin-top: 0;
}
.search.hide {
    animation: fadeOut 0.5s forwards;
}

.search img {
    width: 25px;
}

.search-left img {
    width: 20px;
    padding-right: 5px;
    filter: invert(1);
}
.search-left {
    display: flex;
    align-items: center;
    width: 80%;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 10px;
    transition: border 0.3s ease;
    box-sizing: border-box;
    position: relative;
    background-color: #ffffff;
}

.medium {
    justify-content: unset;
    gap: 20px;
}
.medium .search-left{
    width: 60%;
}

.medium .search-right button {
    width: 100%;
}

.large {
    width: 80%;
    gap: 10px;
	margin: 32px 0 28px;
}

.large button {
    height: 65px !important;
    width: 80% !important;
    border-radius: 4px !important;
}

.large input {
    width: 100%;
    height: 45px;
    padding: 0 40px;
    font-size: 20px;
    border: none;
    outline: 1px solid #aabbca;
    border-radius: 4px;
}

.search-left input {
    width: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-left input::placeholder {
    font-size: 15px;
    font-weight: 400;
	color:#5e6c77;
}

.search-left:focus-within {
    box-shadow: 0 0 0 1px #0070ff;
    border-color: #007bff;
}

.search-right {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 25%;
}

.search-right img {
    cursor: pointer;
}

.clear-icon {
    color: #cfcdcd;
    cursor: pointer;
    font-size: 18px;
    transition: color .3s ease;
}

.clear-icon:hover {
    color: black;
}

.search-right button {
    width: 60%;
    height: 45px;
    border-radius: 10px;
    font-weight: 500;
	background-color: #0070ff;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}

.suggestionCard {
    position: absolute;
    top: 50px;
    left: 0;
    min-height: 60px;
    max-height: 250px;
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 5px 3px 6px 3px rgba(141, 148, 154, 0.2);
    overflow-y: auto;
    z-index: 999;
}

.itemCard {
    font-size: 16px;
    padding: 10px;
    border-radius: 12px;
    margin: 10px;
}

.itemCard:hover {
    transition: .2s ease-in;
    background-color: #EEF1F7;
    cursor: pointer;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}