h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
}

h4, .h4 {
    font-size: 12px;
    font-weight: 700;
}
p{
    margin: 10px 0;
}

a{
    color: #000;
}
.link {
    color: #589BEB;
    text-decoration: none;
    cursor: pointer;
}

.error {
    color: #ff0000;
}