.customSelectContainer {
    position: relative;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  .selectSelected {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    margin-top: 15px;
    transition: background-color 0.3s ease;
  }
  
  .selectItems {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 99;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 2px;
  }
  
  .selectItem {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease;
    font-size: 14px;
  }
  
  .selectItem:hover {
    background-color: #ddd;
  }
  